# ERD

![](./images/erd.png)

# DB Setup

## Imports

In [1]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

## Connection Setup

In [2]:
# Create connection string
connection = "mysql+pymysql://root:root@localhost/books"
engine = create_engine(connection)

### Create DB

In [3]:
# Check if the db exists
# Check if the database exists. If not, create it.
if database_exists(connection) == False:
  create_database(connection)
else:
  print('The database already exists')

The database already exists

## Import CSVs as dataframes

Import the csv files then load them as dataframes.

In [4]:
# import csv files as dataframes
users_file = "./Data/users.csv"
books_file = "./Data/books.csv"
authors_file = "./Data/authors.csv"
favorites_file = "./Data/favorites.csv"

users_df = pd.read_csv(users_file)
books_df = pd.read_csv(books_file)
authors_df = pd.read_csv(authors_file)
favorites_df = pd.read_csv(favorites_file)

## Write dataframes to database

In [5]:
# Make users table
users = 'users'
users_df.to_sql(users, con=engine, index=False)

# Make books table
books = 'books'
books_df.to_sql(books, con=engine, index=False)


# Make authors table
authors = 'authors'
authors_df.to_sql(authors, con=engine, index=False)

# Make favorites table
favorites = 'favorites'
favorites_df.to_sql(favorites, con=engine, index=False)

ValueError: Table 'users' already exists.

# Test query

Confirm that the data is in the database.

In [7]:
query = """
SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));
"""
df = pd.read_sql_query(query, engine)
df

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1